
details{
	margin-top: 1%;
}

details summary{
	cursor: pointer;
}

details summary > *{
	display: inline;
}

table{
	width: 100%;
	border-collapse: collapse;
}

table td{
	border: 1px solid black;
	text-align: center;
}

.suggestionDiv{
	max-height: 11vh;
	margin: 0;
	padding: 0;
	overflow: auto;
}

#reportModalContent td{
	border: 1px solid lightgray;
}

#reportModalContent a{
	color: lightgray;
}

.modalControls{
	text-align: center;
	background-color: navy;
	color: lightgray;
	padding: 1%;
	width: 80%;
	margin:0% auto;
}

.modalControls h2{
	font-size: 0%;
}

img{
	display: block;
}

.imgtd{
	width: 15%;
}

.name{
	cursor: pointer;
	text-decoration: underline;
}

.time{
	width: 15%;
}